.pTitle {
    width: 1000px;
    margin: auto;
    direction: rtl;
    padding: 5px;
    font-family: tahoma;
    font-size: 12px;
    font-weight: bold;
}
.pBox {
    border-radius: 5px;
    border: 1px solid #97c2e9;
    width: 1000px;
    margin: 0 auto;
    background-color: #d0e9ff;
    overflow: auto;
    height: 66px;
}
    .pBox .pItem {
        float: right;
        border: solid 1px #2db301;
        background-color: #e4ffdb;
        box-sizing: border-box;
        padding: 0.5%;
        margin: 0.5%;
        border-radius: 5px;
        position: relative;
    }
        .pBox .pItem p {
            font-size: 12px;
            font-family: tahoma;
            direction: rtl;
            line-height: 22px;
            margin: 0;
        }
         .pBox .pItem p.RemoveItem {
                padding: 0 3px;
                line-height: 15px;
                position: absolute;
                top: 5px;
                left: 5px;
                cursor: pointer;
                border-radius: 5px;
                border: solid 1px red;
                background-color: #ffdbdb;
            }

.addBox {
    direction: rtl;
    float: right;
    border: solid 1px #2db301;
    background-color: #e4ffdb;
    padding: 0.5%;
    margin: 0.5%;
    border-radius: 5px;
    position: relative;
}

    .addBox select {
        width: 70px;
        margin: 2px;
        font-size: 12px;
        font-family: tahoma;
    }